#account {
    padding-top: 155px;
    /* background-color: rgba(239, 239, 239, 0.7); */
    background-color: #efefef;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#pageAccount {
    width: 80%;
}

#pageAccount article {
    margin: 5px;
    padding: 5px;
    background-color: white;
    border: 1px solid #efefef;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#usersLink {
    width: 25%;
    float: right;
    min-height: 250px;
    border: 1px solid #efefef;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

#navBarUsers {
    width: 60%;
    list-style-type: none;
    text-align: center;
}

#navBarUsers li {
    padding-top: 35px;
}

.usersLink {
    text-decoration: none;
    color: #545454;
    font-size: 1.3rem;
}

#welcomeUsers {
    width: 70%;
    min-height: 70px;  
    text-align: center;
    
}

#welcomeUsers h3 {
    font-family: 'arcadeRounded';
    margin-top: 25px;
    color: #545454;
}

#lastArticle {
    width: 70%;
    min-height: 200px;  
}

#lastArticle h3 {
    font-family: 'arcadeRounded';
    font-size: 0.8rem;
    margin-top: 25px;
    color: #545454;
}

.lastArticle {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 3px solid rgba(84, 84, 84, 0.4);
}

.usersLastArticle {
    width: 60%;
    margin: 20px;
    padding-bottom: 15px;
    
}

.usersLastArticle h4 {
    margin-bottom: 10px;
}

.usersLastArticleOption {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.usersLastArticleOption a {
    font-weight: bold;
    width: 80%; 
    padding: 7px;
    height: 20px;
    background-color: transparent;
    color: #545454;
    font-size: 1rem;
    border: none;
    text-align: center;
    text-decoration: none;
}

.usersLastArticleOption a:hover {
    cursor: pointer;
    color: white;
    transition: color 1000ms ease;
    -webkit-transition: color 1000ms ease;
    -moz-transition: color 1000ms ease;
    -ms-transition: color 1000ms ease;
    -o-transition: color 1000ms ease;
    background-color: #545454;
    transition: background-color 1000ms ease;
    -webkit-transition: background-color 1000ms ease;
    -moz-transition: background-color 1000ms ease;
    -ms-transition: background-color 1000ms ease;
    -o-transition: background-color 1000ms ease;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#lastComment {
    width: 70%;
    min-height: 200px;
}

#lastComment h3 {
    font-family: 'arcadeRounded';
    font-size: 0.8rem;
    margin-top: 25px;
    color: #545454;
}

.lastComment {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 3px solid rgba(84, 84, 84, 0.4);
}

.usersLastComment {
    width: 60%;
    margin: 20px;
    padding-bottom: 15px;
    
}

.usersLastComment h4 {
    margin-bottom: 10px;
}

.usersLastCommentOption {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.usersLastCommentOption a {
    font-weight: bold;
    width: 80%; 
    margin-top: 15px;
    padding: 7px;
    height: 20px;
    background-color: transparent;
    color: #545454;
    font-size: 1rem;
    border: none;
    text-align: center;
    text-decoration: none;
}

.usersLastCommentOption a:hover {
    cursor: pointer;
    color: white;
    transition: color 1000ms ease;
    -webkit-transition: color 1000ms ease;
    -moz-transition: color 1000ms ease;
    -ms-transition: color 1000ms ease;
    -o-transition: color 1000ms ease;
    background-color: #545454;
    transition: background-color 1000ms ease;
    -webkit-transition: background-color 1000ms ease;
    -moz-transition: background-color 1000ms ease;
    -ms-transition: background-color 1000ms ease;
    -o-transition: background-color 1000ms ease;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}