#pageAdminModify {
    padding-top: 155px;
    height: 600px;
    background-color: #efefef;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#adminModify {
    width: 80%;
}

#adminModifyTitle {
    text-align: center;
}