#pageArticle {
    padding-top: 155px;
    /* background-color: rgba(239, 239, 239, 0.7); */
    background-color: #efefef;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#articleHeader {
    width: 100%;
    text-align: center;
    padding-bottom: 35px;
}

#article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#articleImg {
    width: 40%;
    height: 300px;
    margin-bottom: 35px;
}

#articleImg:hover {
    cursor: pointer;
}

#articleContent {
    width: 40%;
}

#articlePseudo {
    padding: 15px;
    margin-bottom: 15px;
}

#articlePara {
    padding: 15px;
}