#pageArticle {
    padding-top: 155px;
    /* background-color: rgba(239, 239, 239, 0.7); */
    background-color: #efefef;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#articleHeader {
    width: 100%;
    text-align: center;
    padding-bottom: 35px;
}

#article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#articleImg {
    width: 40%;
    height: 300px;
    margin-bottom: 35px;
}

#articleImg:hover {
    cursor: pointer;
}

#articleContent {
    width: 40%;
}

#articlePseudo {
    padding: 15px;
    margin-bottom: 15px;
}

#articlePara {
    padding: 15px;
}

#sectionComment {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#spaceComment {
    width: 80%;
}

#spaceComment h2 {
    margin: 15px;
}

.comment {
    width: 80%;
    padding: 15px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.comment p {
    margin-top: 10px;
}

#postComment {
    width: 80%;
    margin-bottom: 45px;
}

#postComment h2 {
    margin: 15px;
}

#writeComment {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#writeComment textarea {
    width: 65%;
    margin: 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#writeComment textarea:focus {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition: transform 250ms ease;
    -webkit-transition: transform 250ms ease;
    -moz-transition: transform 250ms ease;
    -ms-transition: transform 250ms ease;
    -o-transition: transform 250ms ease;
}

#writeComment input {
    width: 20%;
    height: 30px;
    margin: 15px;
    border: 1px solid #efefef;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #545454;
    color: white;
}

#writeComment input:hover {
    cursor: pointer;
    color: #ff9d00;
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition: color 250ms ease;
    -webkit-transition: color 250ms ease;
    -moz-transition: color 250ms ease;
    -ms-transition: color 250ms ease;
    -o-transition: color 250ms ease;
    transition: transform 250ms ease;
    -webkit-transition: transform 250ms ease;
    -moz-transition: transform 250ms ease;
    -ms-transition: transform 250ms ease;
    -o-transition: transform 250ms ease;
}