/* css de la page article coté admin */
#pageArticleAdmin {
    padding-top: 155px;
    background-color: #efefef;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#adminArticleSingle {
    width: 100%;
    text-align: center;
    padding-bottom: 35px;
}

#articleSingle {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#articleImg {
    width: 40%;
    height: 300px;
    margin-bottom: 35px;
}

#articleImg:hover {
    cursor: pointer;
}

#articleContent {
    width: 40%;
}

#articleTitle {
    padding: 15px;
    margin-bottom: 15px;
}

#articlePara {
    padding: 15px;
}

#buttonArticleDelete {
    width: 100%;
    text-align: center;
    padding: 10px;
}

#buttonArticleDelete a {
    padding: 10px;
    width: 40%;
    /* height: 40px; */
    background-color: transparent;
    color: #545454;
    font-size: 1rem;
    border: none;
    text-align: center;
    text-decoration: none;
}

#buttonArticleDelete a:hover {
    cursor: pointer;
    color: white;
    transition: color 1000ms ease;
    -webkit-transition: color 1000ms ease;
    -moz-transition: color 1000ms ease;
    -ms-transition: color 1000ms ease;
    -o-transition: color 1000ms ease;
    background-color: #545454;
    transition: background-color 1000ms ease;
    -webkit-transition: background-color 1000ms ease;
    -moz-transition: background-color 1000ms ease;
    -ms-transition: background-color 1000ms ease;
    -o-transition: background-color 1000ms ease;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}