/* css de la page contact */
#contact {
    padding-top: 155px;
    background-color: rgba(239, 239, 239, 0.7);
}

#sectionContact {
    margin-top: 65px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #efefef;
}

#paraContact {
    margin-top: 25px;
    padding: 15px;
    width: 80%;
    font-size: 1.2rem;
    text-align: center;
}

#contactForm {
    margin-top: 45px;
    margin-bottom: 35px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


#nameContact {
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#nameContact label {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#nameContact span {
    width: 100%;
    text-align: center;
    color: red;
}

#nameContact input {
    height: 35px;
    width: 50%;
    border: 1px solid #efefef;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#nameContact input:focus {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition: transform 250ms ease;
    -webkit-transition: transform 250ms ease;
    -moz-transition: transform 250ms ease;
    -ms-transition: transform 250ms ease;
    -o-transition: transform 250ms ease;
}

#messageContact {
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#messageContact label {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#messageContact input {
    height: 35px;
    width: 50%;
    border: 1px solid #efefef;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#messageContact input:focus {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition: transform 250ms ease;
    -webkit-transition: transform 250ms ease;
    -moz-transition: transform 250ms ease;
    -ms-transition: transform 250ms ease;
    -o-transition: transform 250ms ease;
}

#messageContact textarea {
    height: 75px;
    width: 80%;
    border: 1px solid #efefef;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#messageContact textarea:focus {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition: transform 250ms ease;
    -webkit-transition: transform 250ms ease;
    -moz-transition: transform 250ms ease;
    -ms-transition: transform 250ms ease;
    -o-transition: transform 250ms ease;
}

#buttonContact {
    margin-top: 75px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#buttonContact button {
    width: 20%;
    height: 30px;
    border: 1px solid #efefef;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #545454;
    color: white;
}

#buttonContact button:hover {
    cursor: pointer;
    color: #ff9d00;
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition: color 250ms ease;
    -webkit-transition: color 250ms ease;
    -moz-transition: color 250ms ease;
    -ms-transition: color 250ms ease;
    -o-transition: color 250ms ease;
    transition: transform 250ms ease;
    -webkit-transition: transform 250ms ease;
    -moz-transition: transform 250ms ease;
    -ms-transition: transform 250ms ease;
    -o-transition: transform 250ms ease;
}

#findUs {
    padding-bottom: 45px;
    background-color: #efefef;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#findUsTitle {
    width: 100%;
    margin-top: 45px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.2rem;
}

#findUs iframe {
    margin-top: 25px;
    width: 50%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#address {
    width: 30%;
    margin-top: 55px;
    font-size: 1.2rem;
}

#titleProject {
    color: #545454;
    font-size: 1.6rem;
    padding-bottom: 15px;
}

#address a {
    color: #ff9d00;
}