/* police d'écriture */
@font-face {
    font-family: 'videoGames';
    src: url('../font/arcade/video_games-webfont.woff2') format('woff2'),
        url('../font/arcade/video_games-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arcadeInterlace';
    src: url('../font/arcade/arcade_i-webfont.woff2') format('woff2'),
        url('../font/arcade/arcade_i-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arcadeNormal';
    src: url('../font/arcade/arcade_n-webfont.woff2') format('woff2'),
        url('../font/arcade/arcade_n-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arcadeRounded';
    src: url('../font/arcade/arcade_r-webfont.woff2') format('woff2'),
        url('../font/arcade/arcade_r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../font/roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../font/roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../font/arcade/roboto-regular-webfont.woff2') format('woff2'),
         url('../font/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('../font/roboto/roboto-thin-webfont.woff2') format('woff2'),
         url('../font/roboto/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Mise en page global */
* {
    margin: 0;
    padding: 0;
    font-family: 'robotothin';
}

body {
    background: url(../images/background/background1.jpg) repeat-y;
    background-attachment: fixed;
    background-size: 100%;
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
    cursor: default;
}

#header {
    position: fixed;
    z-index: 2000;
    width: 100%;
    min-height: 110px;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to left, #f0a639, #f7a62d, #ff9d00, #ff9d00);
}

#logo {
    width: 18%;
}

img {
    margin-top: 10px;
    width: 90%;
    height: 100px;
}


/* Menu déroulant */

nav {
    width: 60%;
    margin-top: 35px;
    margin-left: 15px;
    position: sticky;
    top: 0px;
}

#smartphone {
    display: none;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 20%;
    text-align: center;
    position: relative;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    font-family: 'robotoregular';
    font-size: 1.4rem;
    display: block;
    text-decoration: none;
    color: white;
    /* border-bottom: 2px solid transparent; */
    padding: 10px 0px;
}


.active {
    color: #545454;
    font-weight: bold;
}

nav a:hover {
    /*border-bottom: 2px solid #545454;
    */
    color: #545454;
    transition: color 250ms ease-in-out;
    -webkit-transition: color 250ms ease-in-out;
    -moz-transition: color 250ms ease-in-out;
    -ms-transition: color 250ms ease-in-out;
    -o-transition: color 250ms ease-in-out;
}

li:hover {
    cursor: pointer;
}

li:after {
    display: block;
    content: '';
    border-bottom: solid 3px #545454;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    -webkit-transition: transform 250ms ease-in-out;
    -moz-transition: transform 250ms ease-in-out;
    -ms-transition: transform 250ms ease-in-out;
    -o-transition: transform 250ms ease-in-out;
}

li:hover:after {
    transform: scaleX(1);
}

li.fromLeft:after {
    transform-origin: 0% 50%;
}


.under {
    display: none;
    box-shadow: 0px 1px 2px #cccccc;
    background-color: #545445;
    position: absolute;
    width: 100%;
    z-index: 500;
}

.under a {
    background-color: #545454;
}

.under a:hover {
    background-color: white;
}

nav>ul li:hover .under {
    display: block;
}

.under li {
    float: none;
    width: 100%;
    text-align: left;
}

.under a {
    font-size: 1rem;
    padding: 10px;
    border-bottom: none;
}

.under a:hover {
    border-bottom: none;
    background-color: white;
}

.drop>a::after {
    font-size: 12px;
}

#buttonHeader {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 20%;
}

#buttonHeader a {
    font-family: 'robotoregular';
    font-size: 1.1rem;
    margin-top: 10px;
    padding-top: 5px;
    width: 40%;
    height: 30px;
    background-color: transparent;
    color: #545454;
    /* font-size: 1.2rem; */
    border: none;
    text-align: center;
    text-decoration: none;
}

#buttonHeader a:hover {
    cursor: pointer;
    color: white;
    transition: color 1000ms ease;
    -webkit-transition: color 1000ms ease;
    -moz-transition: color 1000ms ease;
    -ms-transition: color 1000ms ease;
    -o-transition: color 1000ms ease;
    background-color: #545454;
    transition: background-color 1000ms ease;
    -webkit-transition: background-color 1000ms ease;
    -moz-transition: background-color 1000ms ease;
    -ms-transition: background-color 1000ms ease;
    -o-transition: background-color 1000ms ease;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#search {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    height: 35px;
    box-sizing: border-box;
    border: 2px solid #545454;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/logo/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search:focus {
    width: 100%;
}


/* The Modal (background) */
#modalConnect {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
#modalContent {
    background-color: #efefef;
    margin: auto;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* The Close Button */
#closeConnect {
    color: #54545454;
    text-align: right;
    height: 28px;
    width: 100%;
    font-size: 28px;
    font-weight: bold;
}

#closeConnect:hover,
#closeConnect:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modalConnectTitle {
    text-align: center;
}

#idConnect {
    width: 80%;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#idConnect label {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#idConnect input {
    height: 35px;
    width: 50%;
    border: 1px solid #efefef;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#idConnect input:focus {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition: transform 250ms ease;
    -webkit-transition: transform 250ms ease;
    -moz-transition: transform 250ms ease;
    -ms-transition: transform 250ms ease;
    -o-transition: transform 250ms ease;
}

#btnGoogle {
    width: 80%;
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#buttonConnect {
    margin-top: 35px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#buttonConnect button {
    width: 20%;
    height: 30px;
    border: 1px solid #efefef;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #545454;
    color: white;
}

#buttonConnect button:hover {
    cursor: pointer;
    color: #ff9d00;
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition: color 250ms ease;
    -webkit-transition: color 250ms ease;
    -moz-transition: color 250ms ease;
    -ms-transition: color 250ms ease;
    -o-transition: color 250ms ease;
    transition: transform 250ms ease;
    -webkit-transition: transform 250ms ease;
    -moz-transition: transform 250ms ease;
    -ms-transition: transform 250ms ease;
    -o-transition: transform 250ms ease;
}


/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 15px;
    /* background-color: #ff9d00; */
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ff9d00;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #545454;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #545454;
}