#pageLabyrinth {
    padding-top: 110px;
    width: 100%;
    text-align: center;
    background-color: #efefef;
}

#labyrinthGame {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#labyrinthe {
    width: 100%;
}

#labTab {
    border-collapse: collapse;
}

.imgPlayerLab,
.imgLab {
    display: block;
}

#alertLabyrinth {
    display: none;
    background-color: lightgreen;
    padding: 15px;
    width: 80%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#panda, #bear {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 25px;
    top: 25px;
}