#adminLogin {
    width: 100%;
    height: 100vh;
    /* padding-top: 155px; */
    background-color: #ff9d00;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#adminLog {
    width: 35%;
}