/* pour les grands écran */
@media screen and (min-width: 1200px) {
    #homeGame img {
        height: 600px;
    }

    #pageArticle {
        min-height: 60vh;
    }
} 

/* format tablette */
@media screen and (min-width: 768px) and (max-width: 1200px) {
    /* header */
    #header {
        position: initial;
    }

    #home {
        padding-top: 25px;
    }

    #logo {
        width: 25%;
    }

    #nav {
        width: 70%;
    }

    #buttonHeader {
        width: 100%;
    }

    .under li{
        display: none;
    }

    /* home */
    #presentationImg {
        display: none;
    }

    .article {
        width: 60%;
    }

    .gameParaHome {
        font-family: fantasy;
    }
    
    #articleSnake {
        display: none;
    }

    .advert a {
        height: 35px;
    }

    /* game */
    #games {
        padding-top: 25px;
    }

    .gamePara {
        font-family: fantasy;
    }

    #snakeArticle {
        display: none;
    }

    /* news */
    #news {
        padding-top: 25px;
    }

    .newsArticle {
        width: 70%;
    }

    /* page article */
    #pageArticle {
        padding-top: 25px;
    }

    /* about */
    #about {
        padding-top: 25px;
    }

    /* contact */
    #contact {
        padding-top: 25px;
    }

    /* usersWrite */

    #pageUsersWrite {
        padding-top: 25px;
    }

    #usersWriteName, 
    #usersSelectCategory,
    #usersWriteContent,
    #buttonUsersWrite{
        width: 100%;
    }

    #usersSelectImg {
        width: 50%;
    }

    /* usersSettings */

    #usersSettigns {
        padding-top: 25px;
    }

    #modifyInfo,
    #modifyPassword {
        width: 100%;
        border: none;
    }

    #deleteAccount a{
        width: 70%;
        margin-bottom: 25px;
    }

    /* usersModify */

    #pageUsersModify {
        padding-top: 25px;
    }

    /* battleship */

    #pageBattleship {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    /* power 4 */

    #pagePower4 {
        padding-top: 25px;
        padding-bottom: 25px;
    }

}

/* format smartphone */
@media screen and (max-width: 768px) {

    /*  *****header*****  */
    #header {
        position: initial;
    }

    #logo {
        width: 50%;
    }

    #smartphone {
        display: flex;
        width: 50%;
        justify-content: space-around;
        margin-top: 25px;
    }

    nav {
        display: none;
        width: 100%;
    }

    nav a {
        font-size: 1.1rem;
        margin-top: -40px;
    }

    nav>ul li:hover .under {
        display: none;
    }

    #smartphone img {
        width: 40px;
        height: 40px;
    }

    #smartphone img:hover {
        cursor: pointer;
    }

    #buttonHeader {
        width: 100%;
    }

    #buttonHeader button {
        margin-bottom: 15px;
    }

    /* modal header */

    #modalContent {
        width: 90%;
    }

    #buttonConnect {
        width: 100%;
    }

    /*  *home*  */

    #home {
        padding-top: 25px;
    }

    .title {
        font-size: 1.7rem;
        margin-bottom: -10px;
    }

    .subtitle {
        font-size: 1.4rem;
        margin-bottom: -40px;
    }

    #presentationImg {
        display: none;
    }

    .article {
        width: 80%;
    }

    .homeQuote {
        display: none;
    }

    .counter {
        width: 100%;
    }

    .gameParaHome {
        width: 100%;
        font-size: 1rem;
        font-family: fantasy;
        margin-top: 45px;
    }

    .buttonPlayHome {
        margin-top: 35px;
    }

    .advert {
        width: 80%;
    }

    /* *footer* */
    .social {
        width: 100%;
    }

    /* *game* */
    #games {
        padding-top: 25px;
    }

    #snakeArticle {
        display: none;
    }

    .gamePara {
        width: 100%;
        font-size: 1rem;
        font-family: fantasy;
        margin-top: 45px;
    }

    .buttonPlayGame {
        margin-top: 35px;
    }

    /* news */
    #news {
        padding-top: 25px;
    }

    #articleNews {
        margin-top: 45px;
    }

    .newsArticle {
        width: 80%;
    }

    /* page article */
    #pageArticle {
        padding-top: 25px;
    }

    #articleImg {
        width: 80%;
    }

    #articleContent {
        width: 80%;
    }

    /* about */
    #about {
        padding-top: 25px;
    }

    #sectionAbout {
        margin-top: 50px;
    }

    /* contact */
    #contact {
        padding-top: 25px;
    }

    #nameContact {
        width: 100%;
    }

    #messageContact {
        width: 100%;
    }

    #buttonContact {
        width: 100%;
    }

    #findUs iframe {
        width: 80%;
    }

    #address {
        width: 50%;
    }

    /* register */
    #register {
        padding-top: 25px;
    }

    #sectionRegister {
        margin-top: 45px;
    }

    #pseudoRegister {
        width: 100%;
    }

    #passwordRegister {
        width: 100%;
    }

    #buttonRegister {
        width: 100%;
    }

    /* account */

    #account {
       padding-top: 10px;
    }

    #usersLink {
        width: 100%;
    }

    #welcomeUsers {
        width: 100%;
        background-color: transparent !important;
    }

    #lastArticle {
        width: 100%;
    }

    .usersLastArticleOption {
        width: 100%;
    }

    #lastComment {
        width: 100%;
    }

    .usersLastCommentOption {
        width: 100%;
    }

    /* usersSettings */

    #userSettings {
        padding-top: 25px;
    }

    #userSettings form {
        width: 100%;
        border: none;
        margin-bottom: 45px;
    }

    #deleteAccount {
        width: 100%;
        padding-bottom: 25px;
    }

    #deleteAccount a {
        width: 80%;
    }

    /* usersWrite */

    #pageUsersWrite {
        padding-top: 20px;
    }

    /* power 4 */

    #pagePower4 {
        padding-top: 25px;
    }

    #j1, #j2 {
        width: 65%;
        padding-top: 25px;
    }

    #power4 {
        width: 100%;
    }

    #successPower4 {
        width: 100%;
    }

    /* battleship */

    #pageBattleship {
        padding-top: 25px;
    }

    #successBattleship {
        width: 100%;
    }

    #j1Battleship, #j2Battleship {
        width: 65%;
        padding-top: 25px;
    }
    
    #battleship {
        width: 100%;
    }
}