@media screen and (min-width: 200px) and (max-width: 575px) {

    /*  *****header*****  */
    #header {
        position: initial;
    }

    #logo {
        width: 50%;
    }

    #smartphone {
        display: flex;
        width: 50%;
        justify-content: space-around;
        margin-top: 25px;
    }

    nav {
        display: none;
        width: 100%;
    }

    nav a {
        font-size: 1.1rem;
        margin-top: -40px;
    }

    nav>ul li:hover .sous {
        display: none;
    }

    #smartphone img {
        width: 40px;
        height: 40px;
    }

    #smartphone img:hover {
        cursor: pointer;
    }

    #buttonHeader {
        width: 100%;
    }

    #buttonHeader button {
        margin-bottom: 15px;
    }

    /*  *home*  */

    #home {
        padding-top: 25px;
    }

    .title {
        font-size: 1.7rem;
        margin-bottom: -10px;
    }

    .subtitle {
        font-size: 1.4rem;
        margin-bottom: -40px;
    }

    #presentationImg {
        display: none;
    }

    .article {
        width: 80%;
    }

    .homeQuote {
        display: none;
    }

    .counter {
        width: 100%;
    }

    .gameParaHome {
        width: 100%;
        font-size: 1rem;
        font-family: fantasy;
        margin-top: 45px;
    }

    .buttonPlayHome {
        margin-top: 35px;
    }

    .advert {
        width: 80%;
    }

    /* *footer* */
    .social {
        width: 100%;
    }

    /* *game* */
    #games {
        padding-top: 25px;
    }

    .gamePara {
        width: 100%;
        font-size: 1rem;
        font-family: fantasy;
        margin-top: 45px;
    }

    .buttonPlayGame {
        margin-top: 35px;
    }

    /* news */
    #news {
        padding-top: 25px;
    }

    #articleNews {
        margin-top: 45px;
    }

    .newsArticle {
        width: 80%;
    }

    /* page article */
    #pageArticle {
        padding-top: 25px;
    }

    #articleImg {
        width: 80%;
    }

    #articleContent {
        width: 80%;
    }

    /* about */
    #about {
        padding-top: 25px;
    }

    #sectionAbout {
        margin-top: 50px;
    }

    /* contact */
    #contact {
        padding-top: 25px;
    }

    #nameContact {
        width: 100%;
    }

    #messageContact {
        width: 100%;
    }

    #buttonContact {
        width: 100%;
    }

    #findUs iframe {
        width: 80%;
    }

    #address {
        width: 50%;
    }

    /* register */
    #register {
        padding-top: 25px;
    }

    #sectionRegister {
        margin-top: 45px;
    }

    #pseudoRegister {
        width: 100%;
    }

    #passwordRegister {
        width: 100%;
    }

    #buttonRegister {
        width: 100%;
    }
}

@media screen and (min-width: 575px) and (max-width: 900px) {}

@media screen and (min-width: 900px) and (max-width: 1200px) {}

@media screen and (min-width: 1200px) {}