#pageUsersWrite {
    padding-top: 155px;
    background-color: #efefef;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#usersWriteTitle {
    width: 100%;
    text-align: center;
}

#formUsersWrite {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 45px;
    margin-bottom: 45px;
}

#usersWriteName {
    width: 25%;
    padding: 25px;
}

#usersWriteName label {
    width: 100%;
}

#usersWriteName input {
    width: 100%;
    margin-top: 35px;
    height: 35px;
    border: 1px solid #efefef;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#usersWriteName input:focus {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition: transform 250ms ease;
    -webkit-transition: transform 250ms ease;
    -moz-transition: transform 250ms ease;
    -ms-transition: transform 250ms ease;
    -o-transition: transform 250ms ease;
}

#usersSelectImg {
    width: 25%;
    padding: 25px;
}

#usersSelectImg label {
    width: 100%;
}

#usersSelectImg input {
    width: 100%;
    margin-top: 35px;
    padding-left: 35px;
}

#usersWriteContent {
    width: 70%;
    margin-top: 45px;
}

#usersWriteContent label {
    width: 100%;
}

#usersWriteContent textarea {
    width: 100%;
    height: 150px;
    margin-top: 35px;
    border: 1px solid #efefef;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#usersWriteContent textarea:focus {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition: transform 250ms ease;
    -webkit-transition: transform 250ms ease;
    -moz-transition: transform 250ms ease;
    -ms-transition: transform 250ms ease;
    -o-transition: transform 250ms ease; 
    height: 300px;
    transition: height 250ms ease;
    -webkit-transition: height 250ms ease;
    -moz-transition: height 250ms ease;
    -ms-transition: height 250ms ease;
    -o-transition: height 250ms ease;
}

#buttonUsersWrite {
    margin-top: 75px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#buttonUsersWrite button {
    width: 20%;
    height: 30px;
    border: 1px solid #efefef;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #545454;
    color: white;
}

#buttonUsersWrite button:hover {
    cursor: pointer;
    color: #ff9d00;
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition: color 250ms ease;
    -webkit-transition: color 250ms ease;
    -moz-transition: color 250ms ease;
    -ms-transition: color 250ms ease;
    -o-transition: color 250ms ease;
    transition: transform 250ms ease;
    -webkit-transition: transform 250ms ease;
    -moz-transition: transform 250ms ease;
    -ms-transition: transform 250ms ease;
    -o-transition: transform 250ms ease;
}